// Fuentes
$headings_fonts: "Inter", sans-serif;
$texts_fonts: "Open Sans", sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0b94c2;
$blue: #2563eb;
$indigo: #500c81;
$purple: #7a0f7a;
$orange: #f59e0b;
$pink: #81214c;
$white: #ffffff;
$gray: #6b7280;
$darkGray: #40454c;
$lightGray: #e0e3ea;
$black: #000;
$green:#487631;
$red:rgb(184, 9, 21);

$separation: 5rem;

// Fuentes
$thin: 300;
$regular: 400;
$bold: 700;
$gross: 900;
