@use "base/mixins" as m;
@use "base/variables" as v;

.login {
  margin-top: 10rem;

  .uptask {
    @include m.gradient(v.$blue);
    font-size: 8rem;
  }

  input[type="submit"] {
    @include m.button(v.$blue, v.$white);
    margin: 3.5rem 0 0;
  }

  .actions {
    a {
      color: v.$blue;
    }
  }
}
