@use "base/variables" as v;
@use "base/mixins" as m;

.bar {
  background-color: v.$white;
  padding: 1rem 2rem;
  box-shadow: 1px 12px 9px -13px rgba(0, 0, 0, 0.5);

  @include m.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-size: 1.8rem;
  }

  p {
    margin: 0;
    font-size: 1.8rem;

    span {
      font-weight: v.$bold;
      color: v.$indigo;
    }
  }

  .sign-off {
    @include m.button(darken(v.$indigo, .8%), v.$white);
    font-size: 1.8rem;
    padding: 1rem;
    margin: 1rem 0;
  }
}
