@use "base/variables" as v;
@use "base/mixins" as m;

.dashboard {
  background-color: v.$lightGray;

  @include m.tablet {
    display: flex;
    height: 100vh;
  }

  .main {
    flex: 1;
    overflow: scroll;
  }

  .content {
    padding: 2rem;

    .page-name {
      font-size: 4rem;
      text-align: center;
    }
  }

  .form {
    input:not([type="submit"]) {
      background-color: v.$white;
    }
    input[type="submit"] {
      @include m.button(v.$indigo, v.$white);
      padding: 1rem;
      margin-top: 2.5rem;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: v.$bold;
    }
  }

  .link-div {
    text-align: center;
    margin-top: 5rem;
  }

  .link {
    font-size: larger;
    font-weight: 900;
    color: v.$indigo;
    &:hover {
      color: darken(v.$indigo, 30%);
    }
  }
}
